<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring5MvcRestApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring5-mvc-rest" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springfamework.Spring5MvcRestApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>